* {
    margin: 0;
    padding: 0;
    background-color: #2D9596;
}

.clock {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 20px solid #b06a26;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background: url('https://images.unsplash.com/photo-1557444589-fc3df1ff17a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px #CCD3CA;
}


/* .clock::before {
    position: absolute;
    content: '';
    height: 130px;
    width: 10px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 6s linear infinite;
    transform-origin: top;
}

.clock::after {
    position: absolute;
    content: '';
    height: 100px;
    width: 10px;
    background: black;
    top: 50%;
    left: calc(50% - 5px);
    border-radius: 5px;
    animation: spin 72s linear infinite;
    transform-origin: top;
    
} */

@keyframes spin {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

body::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b06a26;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

body::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    left: 50%;
    top: calc(50% - 145px);
    z-index: 2;
    transform: translateX(-50%);
    box-shadow: 140px 145px 0 0 black, -140px 145px 0 0 black, 0 280px 0 0 black;
}
.hand {
    position: absolute;
    width: 50%;
    height: 6px;
    background: #EEEEEE;
    top: 50%;
    transform-origin: right center; /* Adjusts the origin of the transform */
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: steps(1, end);
}
